@media (max-width: 1200px) {
    body {
        background: linear-gradient(90deg, rgba(213,13,41,1) 0%, rgba(136,19,38,1) 10%, rgba(78,2,20,1) 25%, rgba(46,0,15,1) 50%, rgba(78,2,20,1) 75%, rgba(136,19,38,1) 90%, rgba(213,13,41,1) 100%);

    }

    .video-background {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px
    }
    
    .container .mario {
        max-width: 50%;
    }

    .container .informations {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .description {
        color: #ffffff;
        text-align: center;
    }

    .container .button-trailer {
        background-color: rgb(255, 255, 255);
        border: none;
        border-color: #ffffff;
        color: crimson;
    }
}

@media (max-width: 500px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .container .t-image {
        max-width: 75%;
    }

    .modal .close-modal {
        width: 30px;
        line-height: 30px;
    }

    .modal #video {
        width: 300px;
        height: 169px;
    }
}

@media (max-width: 376px) {
    .modal #video {
        width: 250px;
        height: 140px;
    }
}